.main{
    height: 75vh;
}
.contacto-titulo{
    @include estilo-h1;
    margin-top: 5vh;
}
.ancho{
    width: 40%;
    .ancho-form{
        width: 50%;
    }
}
@media (max-width: 768px){
    .contacto-titulo{
        @include estilo-h1-mobile;
    }
    .ancho{
        width: 80%;
        .ancho-form{
            width: 100%;
        }
    }
}
